name: Build My App APK

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Install Tools
        run: |
          npm install
          npm install @capacitor/android

      - name: Create Android Folder
        run: |
          npx cap add android || echo "Already exists"
          npx cap sync android

      - name: Build APK
        run: |
          cd android
          chmod +x gradlew
          ./gradlew assembleDebug

      - name: Upload APK
        uses: actions/upload-artifact@v3
        with:
          name: My-Mobile-App-APK
          path: android/app/build/outputs/apk/debug/app-debug.apk
