name: Build My App APK

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Install Tools
        run: |
          npm install
          npm install @capacitor/android @capacitor/local-notifications
          npm install @capacitor/assets --save-dev

      - name: Generate Icons
        run: |
          # السطر ده بياخد صورة icon.png ويقصها لكل مقاسات الأندرويد
          npx capacitor-assets generate --android

      - name: Create Android Folder
        run: |
          rm -rf android
          npx cap add android
          npx cap sync android

      - name: Build APK
        run: |
          cd android
          chmod +x gradlew
          ./gradlew assembleDebug

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: My-Mobile-App-APK
          path: android/app/build/outputs/apk/debug/app-debug.apk
